@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

.controls {
  margin: 50px;
  text-align: center;
}
h1 {
  font-size: 72px;
  height: 100px;
}
button,
h1 {
  font-family: Josefin Slab;
  text-align: center;
}
button {
  background: #4479ba;
  color: #fff;
  font-size: 50px;
  border: 1px solid #000;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 2px 2px #000;
}
button:hover {
  background: #356094;
}
